.barCont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barText {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #969696;
}

.barText p {
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: clamp(0.4rem,0.3rem + 1vw,1rem);

}






.toolTipDesign {
    background-color: white;
    border-radius: 4px;
    color: black;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 0);
    transition: all 300ms ease;
    width: auto;
    padding-inline: 10px;
    height: 100px;
    font-size: 43px;
    font-family: bebas;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
  }
  .toolTipUl{
      margin: 0;
      list-style: none;
      padding: 0;
      text-align: center;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .toolTipUl p{
    margin: 0;
  }