<div class="barCont">
  <div class="chartContainer">
    <canvas id="myChart">
      {{ chart }}
    </canvas>
  </div>
  <div class="barText">
    <p>
      ما بين الخوف والغضب، انفجار المشاعر في 4 آب 
      يوضح الرسم البياني الاتي كيف ارتفعت المشاعر السلبية من غضب، خوف و حزن. حيث وصل مؤشر الحزن من 106 حالات في 1 اب 2020 إلى 157 في 4 آب 2020، أما الغضب فقد ازداد من 74 إلى 119، والخوف ارتفع من 146 حتى 257 حالة.
     أما عن النسبة المؤوية فيظهر الرسم البياني ارتفاع نسبة الغضب، الخوف، والحزن، بالتسلسل من 3% إلى 8%. ليكون الخوف هو الشعور الطاغي في كل من 4، 5، و6 آب 2020. 
          </p>
  </div>
</div>