<div class="interviewsTitle">
  <h1>المقابلات: قصص عن المأساة المتعددة الابعاد</h1>
</div>
<div class="interviewBigBoy">
  <div class="interviewContent">
    <div class="interview">
      <div class="title">
        <h1>ما بين الغربة والوطن... الخذلان والوجع عينه</h1>
      </div>
      <div class="interviewText">
        <p>
          "كنت عائدة إلى المنزل عندما وجدت أن دخاناً ونارا يندلعان من حيّنا، تبعت
          دخنة النار كي أصل إلى مكان الحريق، وكلما اقتربت كان قلبي يرتعش أكثر،
          أعرف هذا الطريق جيدا، حفظته عن ظهر قلب، خطوات قليلة تفصلني عن منزلي الذي
          تركت فيه أطفالي الثلاثة، ثم وصلت إلى مكان النار، وصلت إلى بيتي. قذيفة
          صاروخية وقعت فوقه؛ لم استطع أن أرى أحداً من اولادي، فقد حجب سواد الدخان
          كل الرؤية. وقفت عاجزة، أنتظر خبرا عنهم، أتساءل ان كنت سأسمع أصواتهم مرة
          أخرى! استطاع شاب أن يخرجهم من المنزل، وكان علينا أخذهم تحت القصف إلى
          المستشفى الواقعة في المدينة. كانت أصوات القصف تتعالى في الخارج، أطفالي
          الثلاثة ممددين على أسّرة المستشفى، والدماء حولنا في كل مكان، لن أنسى ذاك
          المشهد ما حييت. قال الطبيب لي بأن الصبي والبنت الكبرى قد نجوا، لكن
          الصغيرة تأذّت بشكل كبير، وان نجت فلن تستطيع أن تتكلم من جديد." تعيش
          اليوم ج.و في لبنان، وتحاول مع أطفالها عبثا أن تمحو ذاك النهار من
          ذاكرتها. تقول إنها أخذت أطفالها إلى مركز للدعم النفسي بعدما وصلت إلى
          لبنان، لكن الجلسات توقفت مع بداية وباء كورونا. تسكن ج.و في منزل قريب من
          موقع الانفجار، وتروي كيف رجع بها الزمن إلى سوريا عندما سمعت صوت
          الإنفجار. دمر انفجار المرفأ مطبخ منزلها، وتقول إن العديد من الجمعيات
          وعدت بإصلاحه وأتت إلى المنزل كي تعاين الأضرار لكن لم يتم إصلاح أي شيء
          حتى اللحظة اليوم وبعد مرور عامين على انفجار المرفأ، وست سنين على خروجهم
          من سوريا، تقول ج.و: "أحب لبنان كثيرا، لكني أرى الرعب في أعين أطفالي كلما
          سمعوا خبطة باب أو صوت قوي، ألاحظ الخوف في قلوبهم. لا استطيع أن أقول إن
          الحياة تستمر وأننا تخطينا ما حصل، أشعر بإن الزمان قد وقف عند أوجاعنا،
          وترك ندوبا" مبعثرة في كل مكان
        </p>
      </div>
      <div class="buttonCont">
        <button class="read-more">قراءة المزيد</button>
      </div>
    </div>
    <div class="interview">
      <div class="title">
        <h1>حكاية عن المأساة المتعددة الابعاد</h1>
      </div>
      <div class="interviewText">
        <p>
          ح.م أم سورية لخمسة أطفال، هاجرت وعائلتها إلى لبنان حين قُصف بيتهم في
          سوريا، وأجبروا على ترك حياتهم وراءهم والعثور على مكان أكثر أمانًا
          لأطفالهم. "يوم انفجار بيروت شعرنا وكأن الزمن عاد بنا إلى الوراء، فتذكرنا
          يوم هربنا من حيّنا في سوريا وسط الجثث المبعثرة في كل مكان". "بعدما كنا
          نعتبر أن لبنان مكان آمن، لجئنا إليه. هز انفجار المرفأ هذا الشعور بالأمان
          في داخلنا، ولم نستطع النوم لعدة أيام بعد الانفجار نظرا لحالة الذعر التي
          كنا فيها. لقد تكبدنا بعض الأضرار المادية الناتجة عن الانفجار، فيوجد غرف
          في المنزل تضررت بالكامل، لكن الضرر على صحتنا النفسية كان الأكثر وطأةً."
          ابنتي الثالثة (11 سنة)، التي تعاني من صدمة بسبب أصوات الطيران في سوريا،
          كانت قد بدأت تتحسن في الفترة ما قبل الانفجار، إلى ان وقع الانفجار وبدأت
          حالتها تزداد سوءًا من جديد. لم تعد تتناول الطعام ولاحظنا ظهورحالة
          عدوانية لديها، كما أنها كانت تخاف من أي صوت يصدر فتظنه صوت طيران أو
          انفجار. وكانت تكرر دائمًا أنها تريد المغادرة إلى مكان أكثر أمانًاا".
          تماما" مثل ابنة ال11 عاما، لم يعد اللاجئون السوريون قادرين على العثور
          على الأمان في المكان الذي كان مصدرهم الوحيد للأمان. "لم يؤثر الانفجار
          على ابنتي فقط بل كان لديه أثر علينا جميعا، فلم نكن انا وعائلتي قادرين
          على النوم لعدة أيّام، أما ابني فظهرت لديه صعوبات في النطق بسبب الصدمة
          التي تعرض لها. فكان الانفجار، بعد هروبنا من الحرب، جرح كاد يشفى ثم انفتح
          من جديد". أما عن الأزمة الاقتصادية أثناء الحجر الصحي وحتى اليوم، فقد
          قالت لنا ح.م "لم نعد قادرين على تأمين أبسط احتياجات بيتنا بسبب الغلاء
          الفاحش. عندما كنا في الحجر الصحي منذ سنتين، كان الوضع الاقتصادي صعب، لكن
          الآن بعد مرور سنتين أصبح الوضع أصعب فلم يعد بإمكاننا تأمين أبسط احتياجات
          أطفالنا من حليب ومشتقاته أو لباس أو أي من حاجاتهم
        </p>
      </div>
      <div class="buttonCont">
        <button class="read-more">قراءة المزيد</button>
      </div>
    </div>
    <div class="interview">
      <div class="title">
        <h1>رأي علم النفس</h1>
      </div>
      <div class="interviewText">
        <p>
          تحدثت الإختصاصية النفسية ريتا الحولي عن تأثير الإنفجار على الصحة
          النفسية، وذكرت أن تبعات الأحداث الكبيرة كالإنفجار تختلف من شخص إلى الآخر
          مع اختلاف الآليات الدفاعية لكل شخص. فيكوّن بعض الناس ردات فعل مباشرة عند
          وقوع الحادث، وبعضهم يكبت تلك المشاعر لتظهر بعد فترة على شكل كوابيس، قلق،
          نوبات هلع، والعديد من ردات الفعل التي قد تظهر على المدى البعيد. تختلف
          تلك التجربة عند الأشخاص الذين شهدوا في الماضي على أحداث معينة، مثل وفاة
          شخص مقرب، حرب، أو خوف معين. فاذا لم يتعاملوا مع تلك المشاعر بشكل سليم،
          تبقى ترسبات الحوادث السابقة مكبوتة داخلهم. فمثلا، عندما يشهد شخص ما
          الحرب، لا يكون اهتمامه في تلك الفترة موجها نحو التعبير عن احاسيسه، بل
          يكمن الهدف الوحيد في النجاة فقط. ولكن بعد النجاة، ما ان تقع أحداث مفاجإة
          غير متوقعة، كانفجار المرفأ مثلا، تهتز تسرّبات الماضي التي دفنت داخلنا،
          وتعود لنشعر بها من جديد. أضافت الحولي أنه في حوادث عديدة يتم غض النظر عن
          الإحتياجات النفسية، اذ بحسب هرم ماسلو يبدأ الإهتمام بالحاجات الفزيولوجية
          لتصل إلى الحاجات النفسية. ينطبق ذلك على وضع اللاجئيين السوريين في لبنان،
          اذ يتم التركيز على تأمين احتياجاتهم المادية والفيزيولوجية و يجري إهمال
          العامل النفسي بغض النظر عن أهميته. وأضافت، "طبعا لا يمكننا التعميم، يوجد
          العديد من المبادرات للاهتمام بالصحة النفسية، لكن لا تزال النسبة الأكبر
          من الإهتمام تذهب إلى تأمين الحاجات الملموسة خصوصا في ظل الأزمة
          الإقتصادية التي يمر بها لبنان." وختمت مؤكدة على ضرورة الإهتمام بكل تلك
          المشاعر التي ولّدتها الأحداث السابقة في حياتنا، لأن تراكهما سيأثر سلبا
          ليس فقط على الصحة النفسية، بل ستنتج أمراضاً جسدية، وهي طريقة الجسد
          لإخبارنا أنه ليس بخير
        </p>
      </div>
      <div class="buttonCont">
        <button class="read-more">قراءة المزيد</button>
      </div>
    </div>
  </div>
  
</div>
