.timelineDivider {
  width: 100%;
  height: 100%;

}
.timelineList{
  width: 100%;
  height: 100%;
  /* animation: animate 400ms ease-in forwards; */
  
}
.timelineTitle{
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timelineTitle h4{
  color: black;
  padding: 0;
  padding-bottom: 20px;
  font-size: clamp(0.7rem,0.6rem + 1.1vw,1.3rem);
  font-weight: 900;

}
.timelineTitle p{
  width: 65%;
  color: #858585;
}


@media only screen and (max-width:500px)
{
  .timelineTitle p{
    width: 90%;
    font-size: 0.7rem;
  }
}

/* timeline */

