<div class="timelineTitle">
  <p>
    تراكمت الأحداث المأساوية في لبنان خلال السنتين الأخيرتين. و كان للأزمة
    الإقتصادية الحادة و المتزامنة مع جائحة كورونا أثرا" كبيرا"على الصحة النفسية
    للمواطنين اللبنانيين و للنازحين السوريين على حد سواء. فوجد النازح نفسه يتلقى
    الضربة تلو الاخرى في رحلة بحثه عن الامان خارج ربوع وطنه الام.
  </p>
</div>

<div class="timelineDivider">
  <timelineItem
    id="item3"
    [itemID]="item3"
    [className]="className"
    [navImageSRC]="navPicArray[2]"
    [imageID]="image3"
    [imageSRC]="picArray[2]"
    [headLine]="headlineArray[2]"
    [textContent]="textContentArray[2]"
  ></timelineItem>

  <timelineItem
    id="item1"
    [itemID]="item1"
    [className]="className"
    [navImageSRC]="navPicArray[0]"
    [imageID]="image1"
    [imageSRC]="picArray[0]"
    [headLine]="headlineArray[0]"
    [textContent]="textContentArray[0]"
  ></timelineItem>
  <timelineItem
    id="item2"
    [itemID]="item2"
    [className]="className"
    [navImageSRC]="navPicArray[1]"
    [imageID]="image2"
    [imageSRC]="picArray[1]"
    [headLine]="headlineArray[1]"
    [textContent]="textContentArray[1]"
  ></timelineItem>
</div> 


