<div class="introduction" id="intro">
  <div class="introContent">
    <p>
      أحد عشر عاماً على الحرب السورية، و ما زال النازح يعاني ثقل تلك السنين على
      كاهله حتى يومنا هذا. لم تخلُ رحلة اللجوء من المصاعب والتحديات، بل عُرفت
      "كأكبر أزمة إنسانية في عصرنا" كما وصفها الممثل الدائم للمملكة المتحدة لدى
      الأمم المتحدة السفير مارك ليال غرانت في خطابه عام 2015. كان لبنان مكاناً
      آمناً للعديد من السوريين الفارين من الحرب، أرضه خالية من أصوات القصف
      ورائحة الموت. لكن تعاقبت الأحداث التي كسرت هذا الأمان وفرضت مصاعب جديدة
      على عاتق النازحين. تتالت الخسارات والتحديات التي انهالت على المجتمع
      اللبناني في السنتين الأخيرتين. وما بين وباء عالميّ و أزمة اقتصادية خانقة
      وانفجار غيّر معالم المدينة، يعاني معظم سكان لبنان – بما في ذلك النازحيين
      السوريين – من تبعات تلك الأحداث.
    </p>
    <p class="hidden" id="moreContent">
      اختلفت المشاعر في تلك السنين، ساد الحزن تارة والفرح تارة أخرى، احتل الخوف
      قلوبهم بما يرافقه من مشاعر غضب وفقدان الأمل. هي أحاسيس راكمتها الأيام،
      حاكت قصص اليأس والأمل في المخيمات. ووسط الحروب و الأوبئة والأزمات، يشهد
      النازح السوري خليطاً من المشاعر لا يسعه أن يدرك له معنى، فقلّما نفكر في
      التأثير الذي تخلفه الأزمات على الصحة النفسية، إذ ينصبّ التركيز الاكبر على
      الصحة الجسدية، والأضرار المادية، والأوضاع المعيشية، أمّا المشاعر التي لا
      يمكن قياسها وكيلها فلا تحظى بأي إنتباه. لكن كيف أثرت تلك الأحداث على
      الأحاسيس؟ وأين يقف النازح اليوم من ما حصل ولا يزال يحصل؟
    </p>
  </div>
  <button (click)="showMore()" class="read-more" id="readMoreButton">قراءة <br />المزيد</button>
  <div class="arrow">
    <!-- <i class="bi bi-caret-up-fill" id="arrowUp"></i> -->
    <img (click)="hideExtra()" src="../../assets/icons/Subtract.svg" alt="" id="arrowUp">
  </div>
</div>

  