<div class="divideBarExtract">
  <div class="above">
    <div class="chartPart">
      <canvas id="horiBar"></canvas>
    </div>
    <div class="extract">
      <div class="extractTitle">
        <h1>{{ extract }}</h1>
      </div>
      <div class="appearBox">
        <div class="boxTitle"><span>
            نسبة بروز الموضوع
        </span></div>
        <div class="box">
            <span>{{value1}}%</span>
        </div>
      </div>
      <div class="reactionBox">
        <div class="boxTitle">
            <span>
                النسبة المئوية للتفاعل
            </span>
        </div>
        <div class="box">
            <span>{{value2}}%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="below">
    <p>
      يوضح هذا الرسم البياني نسبة تفاعل النازحيين مع مواضيع مختلفة. تشكل "الصحة"
      الموضوع الأكثر أهمية والذي حظي على تفاعل أكبر عدد من النازحين بنسبة 40%،
      تليه المواضيع الدينية التي لاقت تفاعل بنسبة ما يقارب ال35%. أمّا الفنون
      فقد وصلت إلى 7% وصولا إلى "الضمان الإجتماعي الذي لاقى أقل نسبة تفاعل 2%
      ربما لعدم شمول خدمات الضمان فئة النازحين.
    </p>
  </div>
</div>
