@media only screen and (min-width: 801px) {
  .hamburger {
    display: none;
  }
}

.bar1,
.bar2,
.bar3 {
  border: 1px solid white;
  width: 30px;
  margin-bottom: 4px;
  border-radius: 25px;

}

.hamburger {
  width: 31px;
  height: 31px;
  top: 32px;
  right: 10px;
  position: fixed;
  z-index: 200;
}

.allContent{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


