<carousel [pictureArray]="pictureArray"></carousel>

<div class="restOfContent">
  <intro></intro>
  <timeline></timeline>
</div>

<!-- <div class="chaptersContainer">
  <div class="right">
    <div class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et ratione sed
      quaerat temporibus nesciunt unde, magnam impedit natus, cumque obcaecati
      voluptates qui corrupti earum accusantium architecto doloribus rerum,
      deserunt molestiae
    </div>
  </div>
  <div class="left">
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg"
        alt=""
      />
    </div>
  </div>
</div> -->
