<!-- <carousel [pictureArray]="pictureArray"></carousel> -->
<div class="header">
  <div class="headerText">
    <span
      >"ما من أحد يضع طفله في قارب الموت إلا إذا كان البحر أكثر أمانا من الوطن"،
      كانت تلك الجملة بدايةً لرحلة البحث عن أرض آمنة...</span
    >
  </div>
</div>

<div class="restOfContent" id="restOfContent">
  <intro id="introScroll"></intro>
  <timeline id="timelineScroll"></timeline>
  <statistics id="statsScroll"></statistics>
  <interviews id="interviewsScroll"></interviews>
  <div class="conclusion" id="endingScroll">
    <div class="innerBox">
      <p>
        يتلاشى التركيز على الصحة النفسية للنازحين السوريين في مجتمعات منهكة أصلا" من وزر الازمات.
        تشير الاحصاءات التي ركزت غلى مشاعر اللاجئين  في البلاد خلال فترات مختلفة أنها كانت تتقلب مع تبدّل الأحداث في البلاد. تعكس مشاعر اللاجئين و المواطنين غلى حد سواء الواقع المأزوم، وهنا تكمن أهمية النظر إلى المشاعر والصحة النفسية.
     <br><br>   
        يعاني اللاجئ  اليوم حالة إهمال جسدي ونفسي من جميع من حوله، فهو غير قادر على العودة إلى موطنه غير الآمن، وغير قادر أيضًا على العيش بسلام في ملجئه هنا، فها هو عالق في مكان ينتظر فيه يد العون، بينما تتأرجح مشاعره مع التقلّب الدائم لأحداث البلاد .
              </p>
    </div>

  </div>
</div>

<!-- <div class="chaptersContainer">
  <div class="right">
    <div class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et ratione sed
      quaerat temporibus nesciunt unde, magnam impedit natus, cumque obcaecati
      voluptates qui corrupti earum accusantium architecto doloribus rerum,
      deserunt molestiae
    </div>
  </div>
  <div class="left">
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg"
        alt=""
      />
    </div>
  </div>
</div> -->
