.hashStat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.imageSelector{

    width: 50%;
}
.imagesContainer{
    width: 50%;
}

.show{
    max-width: 100%;
    opacity: 1;
    transition: opacity 400ms ease;

}
.hide{
    display: none;
    opacity: 0;
    transition: opacity 400ms ease;
}
.list-group-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-weight: 100;
}
.activeHash{
    color: var(--orange);
}
