
<div class="donutCont">
  <div class="chartContainer" id="donutChart">
    <span id="donutTitle">النسب المئوية للعواطف</span>
    <canvas id="myChart">
      {{ chart }}
    </canvas>
  </div>
  <div class="donutText">
    <p>
      توضح هذه البيانات عدد المرات التي برزت فيها عواطف الخوف، الحزن، الترقب، الفرح، المفاجأة، الإشمئزاز، والثقة، خلال  الفترة الزمنية الممتددة من 1 تموز 2020 حتى 29 أيلول 2020. وبالنظر إلى النسب المئوية للعواطف، يتبين أن "الثقة"هي العاطفة السائدة بنسبة 22%، تليها مشاعر الخوف بنسبة 17%، في حين تتساوى نسبتا الترقب والفرح ب 14%، وصولا إلى أقلّ العواطف بروزاً وهي الحزن بنسبة 11%، ثم المفاجأة بنسبة ٥٪.
      
      
          </p>
  </div>
</div>

