<!-- <div class="statisticsTitle">
  <h1>الاحصائيات</h1>
</div>
<div class="statsSlider">
  <div class="theButtons">
    <div class="statButton">
      <button class="btn" (click)="show('expectation')">توقع</button>
    </div>
    <div class="statButton">
      <button class="btn" (click)="show('trust')">الثقة</button>
    </div>
  </div>
  <oneStat class="stat show" id="expectation" [picture]="expectPic"></oneStat>
  <oneStat class="stat hide" id="trust" [picture]="trustPic"></oneStat>
</div> -->

<div class="statPage">
  <div class="statTitle">
    <h1>البيانات: الازمة بالارقام والوقائع</h1>
  </div>
  <div class="statContainer">
    <div class="choose">
      <ul class="list-group" id="chooseList">
        <li
          class="list-group-item"
          id="horizontal"
          routerLink="/horiBar"
          (click)="choose('horizontal')"
        >
          نسبة بروز الموضوع و النسبة المئوية للتفاعل
        </li>
        <li class="list-group-item active" id="donut" routerLink="/" (click)="choose('donut')" >
          النسب المئوية للعواطف
        </li>
        <li class="list-group-item" id="barChart" routerLink="/feelings" (click)="choose('barChart')" >
          المشاعر في يوليو
        </li>
        <li class="list-group-item" id="compare" routerLink="/bar" (click)="choose('compare')" >
          مقارنة المشاعر ما بين تموز وآب ٢٠٢٠        </li>
        <li class="list-group-item" id="hashtag" routerLink="/hash" (click)="choose('hashtag')" >
          التفاعل عبر ال Hashtags
        </li>
      </ul>
    </div>
    <div class="oneStat">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
