<div class={{className}}>
    <div class="timePic">
        <img
          src="https://cdn.pixabay.com/photo/2012/11/28/09/32/explosion-67557_1280.jpg"
          alt="Content"
        />
      </div>
      <div class="middleItem">
        <img [src]="imageSRC" alt="Image" class="navImage" id="navImage">
      </div>
      <div class="timeText">
        <p>
          صانع والأسلحة على وتأثير تتبنى في المختلف ة والأميركي يرفع على مصر حتي أن
          الإنسان، السلام، الأميركية هامة في سيحدث تعاون والدوليين عبر يشارك نوع
          ينفي بعض الباب مع بسبب ترسانة مصالح إلى زى أيدلوجيتهم، البحرية المنطقة على
          يحيل أعباء التعامل مضمونة ويتعامل أيدلوجياتهم في نهاية التقرير وضد
        </p>
      </div>
    </div>