.timelineItem {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "a b c";
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 100%;
  margin-bottom: 5%;
  justify-content: space-between;
}

.timelineItemAltern {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "c b a";
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 100%;
  margin-bottom: 5%;
  justify-content: space-between;
}

.timePic {
  grid-area: a;
  padding-right: 10px;
}

.timePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.timeText {
  grid-area: c;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  text-justify: inter-word;
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 400ms ease, transform 400ms ease;
}
.timeText h5{
  width: 70%;
}
.timeText p {
  width: 80%;
}

.show {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 400ms ease, transform 400ms ease;

}

.middleItem {
  grid-area: b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navImage {
  width: 30%;
  height: auto;
  transition: width 400ms ease-in;
}

.navImageEnlarged {
  width: 50%;
  height: auto;
  transition: width 400ms ease-in;

}


@media only screen and (max-width: 800px) {

  .timelineItem {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "c b";
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    margin-bottom: 5%;
    justify-content: space-between;
    font-size: clamp(0.2rem, 0.4rem + 1vw, 1rem);
  }

  .timelineItemAltern {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "c b";
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    margin-bottom: 5%;
    justify-content: space-between;
    font-size: clamp(0.2rem, 0.4rem + 1vw, 1rem);

  }

  .timePicP {
    display: none;
  }
  .timeText{
    padding-right: 4%;
  }


}


@keyframes animateText {
  from {
    transform: translateX(-40px);
  }

  to {
    transform: translateX(0px);
  }
}
